<mat-toolbar class="d-flex flex-row justify-content-between align-items-center">
  <span>Weather Dashboard</span>

  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput [matAutocomplete]="auto" [(ngModel)]="locationQuery" (ngModelChange)="onQueryChange($event)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      @for (location of filteredLocations; track location.place_id) {
      <mat-option [value]="location.description">
        {{ location.description }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <div class="d-flex flex-row justify-content-between align-items-center">

  </div>

  <div class="d-flex flex-row justify-content-between align-items-center">
    <button mat-icon-button (click)="onUnitChange()" class="d-flex justify-content-center align-items-center">
      @if (tempUnitService.unitSignal() === 'cel') {
      <span>°F</span>
      }
      @else {
      <span>°C</span>

      }
    </button>

    <button mat-icon-button (click)="toggleTheme()">
      @if (themeService.isThemeLight()) {
      <mat-icon>dark_mode</mat-icon>
      }
      @else {
      <mat-icon>light_mode</mat-icon>
      }
    </button>
  </div>

  @if (false) {
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  }
</mat-toolbar>